*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: black;
    color: #C0C0C0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo{
    width: 70px;
    height: 65px; 
    margin-top: 8px;
    margin-left: 50px;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: black;
    border-radius: 4px;
    -webkit-box-shadow: 2px -10px 25px 3px rgba(255,166,0,1);
    -moz-box-shadow: 2px -10px 25px 3px rgba(255,166,0,1);
    box-shadow: 2px -10px 25px 3px rgba(255,166,0,1);
}

.light-btn{
    border: 2px solid #FFA500;
    padding: 6px 12px;
    background-color: black;
    color: #FFA500;
    border-radius: 5px;
}

.light-btn:hover{
    color: white;
}

.dark-btn{
    border: 2px solid #FFA500;
    padding: 6px 12px;
    background-color: #FFA500;
    color: black;
    border-radius: 5px;
}

.dark-btn:hover{
    color: white;
}

.btns {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#wrapper{
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    background-color: black;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255,166,0,1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255,166,0,1);
    box-shadow: 0px 0px 0px 1px rgba(255,166,0,1);
}

#background-pic{
    position: relative;
    width: 100%;
    height: 550px;
    background-image: url(/AhmadDuhoki/imgs/demonSlayer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-pic{
    position: absolute;
    bottom: -100px;
    width: 200px;
    height: 200px;
    border: 3px solid #FFA500;
    border-radius: 50%;
    margin-left: 80px;
}

#name{
    position: absolute;
    top: 60%;
    left: 30%;  
}

.address{
    display: inline-block;
    margin-top: 3px;
    padding: 4px;
}

.marker{
    width: 20px;
    height: 20px;
}

.type{
    display: inline;
    color: gray;
}

.lower-btns{
    margin-top: 60px;
    margin-right: 200px;
}

.bio{
    position: absolute;
    top: 70%;
    margin-left: 17%;
}

.bio h4{
    text-transform: capitalize;
    font-style: italic;
}

span{
    color: #FFE4B5;
}

hr{
    display: block;
    position: absolute;
    top: 75%;
    color: #FFA500;
    margin-left: 5%;
    width: 60%;
}

.folnum{
    position: absolute;
    top: 82%;
    margin-left: 3.5%;
}
.folnum b{
     color: #FFE4B5;
 }

 #people{
     position: absolute;
     top: 87%;
     float: left;
     width: 70%;
     margin-left: 4%;
 }

 .img{
     width: 50px;
     height: 50px;
     border: 2px solid #FFA500;
     border-radius: 50%;
     float: left;
     margin-left: -20px;
 }

.plusnum{
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border: 2px solid #FFA500;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-left: -20px;
}
.plusnum p{
    margin-top: 13px;
}

.folmarker {
    width: 30px;
    height: 25px;
    
}
