* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 10px auto;
	float: left;
	
}

header{
	width: 100%;
	height: 60px;
	background-color: aliceblue;
	box-shadow: 0px 2px lightgray ;
	padding: auto 5px;
	position: fixed;
	z-index: 1;
}
.nav-box {
	width: 70%;
	height: 100%;
	margin: auto auto;
}

.nav-bar {
	display: inline-block;
	margin-top: 10px;
	float: right;
}

.btn {
	display: inline-block;
	border: 1px black solid;
	text-decoration: none;
	margin: 0 10px;
	padding: 4px 20px;
}

.image-section {
	background-image: url('./imgs/cover.jpg');
	height: 250px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper {
	margin: 0 auto;
	width: 70%;
}
.profile-img{
	display: inline-block;
	width: 120px;
height: 120px;
margin:-60px 30px;

}
.profile-pic {
	width: 100%;

	border-bottom: 1px black solid;
}

.circular-img {
	border-radius: 50%;
	border: 2px white solid;
}


.profile-details {
	display: inline-block;

}
h5 {
	display: inline-block;
}
.profile-btn {
	display: inline-block;
	margin-left: 450px;
}
.btn  {
	border-radius: 10px;
	border: 1px solid blue;
}
.blue {
	background-color: blue;
	color: cornsilk;
}
hr {
	width: 80%;
	margin:20px auto;
}
.people img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 3px solid white;
	margin-left: -15px;
	float: left;
	overflow: hidden;
}
.people{
	margin-left: 100px;
}
.people-img{
	display: inline-block;
}

.plus-three {
	display: inline-block;

	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 3px solid white;
	margin-left: -15px;
	background-color: gray;
	text-align: center;
	line-height: 35px;
	vertical-align: middle;
	
}








