* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    background-color: #f8f8f8;

}

main{
    border: 1px solid gray;
   
}
.header-box {
   display: inline-block;
   width: 100%;
   height: 15%;
   margin: 0 auto;
   box-shadow: 2px 2px 10px gray;
   background-color: #f8f8f8;
   font-size: large;

}
.logo{
    width:50px;
    height: 50px;
    position: relative;
    left:20%;
    
}
.log {
    display: inline-block;
    position: relative;
    float: right;
    right: 20%;
    margin: 15px;
}
.login {
    border: 1px solid #667f84;
    text-decoration: none;
    padding: 5px 20px 5px;
    border-radius: 10px;
    color: #576979;

}
.register {
    border: 1px solid #059ae4;
    text-decoration: none;
    padding: 5px 20px 5px;
    border-radius: 10px;
    color: white;
    background-color: #059ae4;

}

.wrap {
    width: 60%;
    position: relative;
    margin: 0 auto;
    
   
}
.cover{
	background-image: url('imgs/cover.jpg');
	height: 355px;
	background-position: bottom;
	background-repeat: no-repeat;
    background-size: cover;
    
}
.sec {
    display: inline-block;
}
.profile {
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
    margin-top: -75px;
    margin-left: 50px;
}
.follow{
    position: absolute;
    right: 1%;
    top:72%;
    font-size: large;
}
.br{ 
border-bottom: 1px solid gray;
position: relative;
top: 12px;
width: 82%;
margin: 0 auto;
}
.imgs {
    margin-top: 20px;
    margin-left: 30px;
    
    
    

}
.imgs img {
    margin-left: -20px;
    position: relative;
    border: 3px solid white;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
span {
    color:gray;
}
.p{
margin-left: 15px;
}


